body, html{
  /* margin: 0px;
  overflow: hidden; */
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header{
  /* z-index: 999; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #1F2833;
  /* padding: .5rem; */
  height: 5rem;
}

/* The side navigation menu */
.sidenav {
  margin-top: 5rem;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 4px;
  padding-right: 4px;

}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

.imageClass{
  margin-top: 7rem;
  position: absolute;
  z-index: 1;
  padding: 20px;
}

/* Mouse hover image zoom*/
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: translate(70px, 0) scale(1.5);
}



#photos {
  /* Prevent vertical gaps */
  line-height: 0px;
  
  -webkit-column-count: 4;
  -webkit-column-gap:   0.2px;
  -moz-column-count:    4;
  -moz-column-gap:      0.2px;
  column-count:         4;
  column-gap:           1px;
}

#photos img /* img */ {
 /* Just in case there are inline attributes */
 width: 100% !important;
 height: auto !important;
 margin-bottom: 1px;
}


.hvrbox{
  position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: 100%;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
  color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox-layer_top .hvrbox-text {
	text-align: center;
	font-size: small;
	display: inline;
  position: absolute;
  line-height:1.4em;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.iframe{
  /* position:fixed; */
  position: static;
  width: 100%;
 /*  padding: .5rem; */
  margin-top: 5rem;
  height: 100%;
  /* background: green; */

}

#datGUI{
  position: absolute;
  margin-top: 5rem;
  top: 0px;
  right: 0px;
  z-index: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#image-container { 
  min-width:782px; /* width of 3 images (746px) plus images' padding and border (36px) */ 
  background-color:#f0f0f0; 
 } 
#image-container img { 
  /* padding:5px;  */
  /* border:1px solid #42f54e;  */
  /* border: 2px solid #f54245; */
 } 
.image-right { 
  float:right;
  display: block;
  margin-top: 10px;
  margin-right: 100px;
  border:1px solid #f54245;
 } 

 .active{
  border:1px #42f54e; 
 }



 .cameraDiv{
   padding: 26px 26px;
 }

.cameraDiv .cameraButton{
  display: inline-block;
  padding-left: 10px;
  
  margin-left: 25px;
}
 .cameraButton {
	box-shadow: 3px 2px 21px 1px #020a14;
	background:linear-gradient(to bottom, #1f2833 5%, #314357 100%);
	background-color:#1f2833;
	border-radius:42px;
	border:2px solid #292d33;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  padding:26px 26px;
  padding-top: 10px;
	text-shadow:0px 1px 11px #80a4cf;
}

.cameraDiv a{
  font-size:28px;
	font-weight:bold;
  text-decoration:none;
  text-align: center;
}
.cameraButton:hover {
  background:linear-gradient(to bottom, #314357 5%, #1f2833 100%);
	background-color:#314357;
}
.cameraButton:active {
	position:relative;
	top:1px;
}


.sidenav .totalPrice {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: left;
}
